@import url('https://fonts.googleapis.com/css?family=Oranienbaum');

body {
  font-family: "Verdana", sans-serif;
  background-color: #EDC9AF;
}

h1, h2, h3, nav, .stanza {
  font-family: "Oranienbaum", serif;
}

h1 {
  font-size: 300%;
  margin-top: 2%;
}

.subhead {
  font-size: 60%;
  font-style: italic;
}

.stanza {
  margin-left: 0.5em;
  margin-bottom: 2.5em;
  font-size: 1.3em;
  line-height: 155%;
}

.number {
  position: relative;
  left: -0.5em;
  color: #888;
  font-size: 95%;
}

.off {
  margin-left: 1.5em;
}

nav {
  text-align: right;
}

.footnote {
  font-size: smaller;
}

.footnote:target::before {
  content: "\21d2  ";
}

@media (min-width: 850px) {
  /* technique for centering an element of unknown width from http://stackoverflow.com/a/8228702 */

  html {
    text-align: center;
  }
  
  body {
    text-align: left;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    zoom: 1;
    max-width: 80%;
  }

  .subhead {
    display: block;
    text-align: right;
  }
}
